# Introduction to Python

* Jupiter Notebook
* Quick overview of Python
* Running Python Code from Schell
* Markdown cells

In [2]:
# integers, float, etc in python

x = 3
y = 10.5
Msg = 'Result'
fx = x+y * 10**2 #math ops
print('The result is ', fx)

The result is  1053.0

In [3]:
# a bit of formatting the output
print(f'The {Msg} is {fx}')

The Result is 1053.0

In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print('First element in the list is', my_list[0])
print('Last element in my list is', my_list[len(my_list)-1])

First element in the list is 1
Last element in my list is 10

In [5]:
sub_list = my_list[2:4]

In [6]:
sub_list

[3, 4]

In [7]:
my_list[:1]

[1]

In [8]:
my_list[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
my_list[-1:]

[10]

In [10]:
my_list[:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
msg ='Welcome to RGU'

In [12]:
print(msg[1])

e

In [13]:
print(f'first char of msg is {msg[0]}')

first char of msg is W

In [14]:
tuple_ex = 1,2,3,4
tuple_ex
print(tuple_ex)

(1, 2, 3, 4)

In [15]:
tuple_ex

(1, 2, 3, 4)

In [16]:
print(tuple_ex[0])

1

In [17]:
print(tuple_ex[:2])

(1, 2)

In [18]:
print(tuple_ex[:3])

(1, 2, 3)

In [19]:
print(tuple_ex[1:])

(2, 3, 4)

In [20]:
print(tuple_ex[2:])

(3, 4)

In [21]:
print(tuple_ex[1:1])

()

In [22]:
print(tuple_ex[1:3])

(2, 3)

In [24]:
module_dict = {
    "Code": "CM3111",
    "Name": "Adri"
}

In [25]:
module_dict

{'Code': 'CM3111', 'Name': 'Adri'}

In [26]:
print(module_dict)

{'Code': 'CM3111', 'Name': 'Adri'}

In [29]:
print(f'Code is: {module_dict["Code"]}')

Code is: CM3111

In [30]:
print(module_dict.get('Code'))

CM3111

In [31]:
for key, value in module_dict.items():
    print(key, ': ', value)

Code :  CM3111
Name :  Adri

In [32]:
print(type(tuple_ex))

<class 'tuple'>

In [33]:
float_v = 1.1
int_v = 1
string_v = 'string'
#check data types
print(type(float_v))
print(type(int_v))
print(type(string_v))

<class 'float'>
<class 'int'>
<class 'str'>

In [34]:
int_v = float(int_v)

In [35]:
print(type(int_v))

<class 'float'>

In [37]:
small = 10
big = 100
results = ((small<big) and (big%small==0))

In [39]:
print(f'{small} < {big} and {big} % {small}==0', results)

10 < 100 and 100 % 10==0 True

In [40]:
results1 = ((small<big)and(big%small!=0))
print(f'{small} < {big} and {big} % {small} !=0 is', results1)

10 < 100 and 100 % 10 !=0 is False

In [6]:
a = 33
b = 3
if b > a:
    print('b is greater than a because ', f"{b} is greater than {a}")
elif a==b:
    print(f'{a} is equal to {b}')
else:
    print(f"{a} is greater than {b}")

33 is greater than 3

In [7]:
if a > b: print(f"{a} is greater than {b}")

33 is greater than 3

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a: print("Both condition are True")

Both condition are True

In [2]:
i = 1
while i < 10:
    print(f'{i} to the power of 2 is: {i**2}')
    i += 1

1 to the power of 2 is: 1
2 to the power of 2 is: 4
3 to the power of 2 is: 9
4 to the power of 2 is: 16
5 to the power of 2 is: 25
6 to the power of 2 is: 36
7 to the power of 2 is: 49
8 to the power of 2 is: 64
9 to the power of 2 is: 81

In [6]:
i = 0
while i<10:
    i+=1
    if i%2==0:
        continue
    print(f'{i} to the power of 2 is: {i**2}')

1 to the power of 2 is: 1
3 to the power of 2 is: 9
5 to the power of 2 is: 25
7 to the power of 2 is: 49
9 to the power of 2 is: 81

In [7]:
ds_tools = ["Python", "R"]
my_tuple = 1,2,3,4
my_dict = {
    "Key" : "Value"
}

In [8]:
for tool in ds_tools:
    print(f'Data Science tool: {tool}')

Data Science tool: Python
Data Science tool: R

In [9]:
for i in range(10):
    print(f'square of {i} is {i**2}')

square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [10]:
def power_func(x):
    return (x**2)*2+5

In [11]:
power_func(1)

7

In [13]:
for i in range(1,10):
    print(power_func(i))

7
13
23
37
55
77
103
133
167

In [14]:
def cubic_x(x,y):
    return x**y + 5

In [16]:
for i in range(1,11):
    print(f'{i}^3 + 5 equals {cubic_x(i,3)}')

1^3 + 5 equals 6
2^3 + 5 equals 13
3^3 + 5 equals 32
4^3 + 5 equals 69
5^3 + 5 equals 130
6^3 + 5 equals 221
7^3 + 5 equals 348
8^3 + 5 equals 517
9^3 + 5 equals 734
10^3 + 5 equals 1005

In [19]:
def my_course(*courses):
    print('I am considering the following courses ', courses[1])

In [20]:
my_course("CS", 'DM')

I am considering the following courses  DM

In [21]:
lamb_func = lambda a:a+10
print(lamb_func(5))

15

In [22]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('Auto.csv')

In [25]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [26]:
print(f'The size of df is {df.shape}')

The size of df is (397, 9)

In [27]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [28]:
type(df.columns[0])

str

In [29]:
type(df['mpg'])

pandas.core.series.Series

In [33]:
cars70 = df[df.year==70]

In [31]:
cars70.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [34]:
print(f'The number of cars in cars70 DataFrame is {cars70.shape[0]}')

The number of cars in cars70 DataFrame is 29

In [35]:
import math as math

In [36]:
def area (r):
    return math.pi*(r**2)

In [37]:
area(2)

12.566370614359172

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$